@charset "utf-8";

#mainnav .nav-element {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  box-sizing: border-box;
  border: 1px solid #FF9900;
}

#mainnav .nav-link {
  text-align: center;
  background-color: #E5F8FE;
}

#mainnav .nav-name {
  text-align: left;
  padding-left: 10px;
  background-color: #FFFFFF;
}

#mainnav a {
  text-decoration: none;
}

#mainnav a:link {
  color: #FF9900;
}

#mainnav a:visited {
  color: #FF9900;
}

#mainnav a:hover {
  color: #0000FF;
}

#mainnav a:active {
  color: #000088;
}
#mainnav .thispage {
  background-color: #FF008E; 
}

.table {
  width: 100%;
  display: table;
}

.table-row {
  width: 100%;
  display: table-row
}

.table-col {
  display: table-cell;
}

section, .section {
  clear: both;
  overflow: hidden;
}

.format-padding {
  box-sizing: border-box;
  padding: 5px;
}

.format-padding-t {
  box-sizing: border-box;
  padding-top: 5px;
}

.format-padding-l {
  box-sizing: border-box;
  padding-left: 5px;
}

.format-padding-r {
  box-sizing: border-box;
  padding-right: 5px;
}

.format-padding-b {
  box-sizing: border-box;
  padding-bottom: 5px;
}

.format-margin {
  margin: 5px;
}

.format-margin-t {
  margin-top: 5px;
}

.format-margin-l {
  margin-left: 5px;
}

.format-margin-r {
  margin-right: 5px;
}

.format-margin-b {
  margin-bottom: 5px;
}

.format-border {
  box-sizing: border-box;
  border: 1px solid #BB99FF;
}

.format-center {
  text-align: center;
}

.btn-default {
  height: 30px;
  width: 100px;
}

.btn-full-w {
  height: 30px;
  width: 100%;
}


/*==================================================*/
.col-left {
  float: left;
}

.col-right {
  float: right;
}


/*==================================================*/
.col-w-1 {
	width: 10%;
}

.col-w-2 {
	width: 20%;
}

.col-w-3 {
	width: 30%;
}

.col-w-4 {
	width: 40%;
}

.col-w-5 {
	width: 50%;
}

.col-w-6 {
	width: 60%;
}

.col-w-7 {
	width: 70%;
}

.col-w-8 {
	width: 80%;
}

.col-w-9 {
	width: 90%;
}

.col-w-10 {
	width: 100%;
}


/*==================================================*/
.col-h-1 {
    min-height: 20px;
}

.col-h-2 {
    min-height: 40px;
}

.col-h-3 {
    min-height: 60px;
}

.col-h-4 {
    min-height: 80px;
}

.col-h-5 {
    min-height: 100px;
}

.col-h-6 {
    min-height: 120px;
}

.col-h-7 {
    min-height: 140px;
}

.col-h-8 {
    min-height: 160px;
}

.col-h-9 {
    min-height: 180px;
}

.col-h-10 {
    min-height: 200px;
}

.col-h-11 {
    min-height: 220px;
}

.col-h-12 {
    min-height: 240px;
}

.col-h-13 {
    min-height: 260px;
}

.col-h-14 {
    min-height: 280px;
}

.col-h-15 {
    min-height: 300px;
}

.col-h-16 {
    min-height: 320px;
}

.col-h-17 {
    min-height: 340px;
}

.col-h-18 {
    min-height: 360px;
}

.col-h-19 {
    min-height: 380px;
}

.col-h-20 {
    min-height: 400px;
}

.col-h-21 {
    min-height: 420px;
}

.col-h-22 {
    min-height: 440px;
}

.col-h-23 {
    min-height: 460px;
}

.col-h-24 {
    min-height: 480px;
}

.col-h-25 {
    min-height: 500px;
}

.col-h-26 {
    min-height: 520px;
}

.col-h-27 {
    min-height: 540px;
}

.col-h-28 {
    min-height: 560px;
}

.col-h-29 {
    min-height: 580px;
}

.col-h-30 {
    min-height: 600px;
}

.col-h-31 {
    min-height: 620px;
}

.col-h-32 {
    min-height: 640px;
}

.col-h-33 {
    min-height: 660px;
}

.col-h-34 {
    min-height: 680px;
}

.col-h-35 {
    min-height: 700px;
}

.col-h-36 {
    min-height: 720px;
}

.col-h-37 {
    min-height: 740px;
}

.col-h-38 {
    min-height: 760px;
}

.col-h-39 {
    min-height: 780px;
}

.col-h-40 {
    min-height: 800px;
}

.col-h-41 {
    min-height: 820px;
}

.col-h-42 {
    min-height: 840px;
}

.col-h-43 {
    min-height: 860px;
}

.col-h-44 {
    min-height: 880px;
}

.col-h-45 {
    min-height: 900px;
}

.col-h-46 {
    min-height: 920px;
}

.col-h-47 {
    min-height: 940px;
}

.col-h-49 {
    min-height: 980px;
}

.col-h-48 {
    min-height: 960px;
}

.col-h-50 {
    min-height: 1000px;
}
