<% skin siteskin %>
    <% view intro uses content::master extends master %>
        <% template PageContent() %>
            <p><a href='<% url "/page" %>'>The Page</a></p>
            <p><a href='<% url "/news" %>'>The News</a></p>
        <% end template %>
    <% end view %>
<% end skin %>
